.App {
  height: 100vh;
  background-image: url("https://aramizdakioyuncu.com/galeri/ana-yapi/anaarkaplan.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

